<div id="home" class="container-fluid text-center" *ngIf="articles">
  <div class="jumbotron" style="background:transparent !important">
    <div class="container">
      <h2 class="display-4">Headline News</h2>
      <p class="lead">U.S.
        <span class="badge badge-warning"> {{ articles.length }}</span>
      </p>
    </div>
  </div>

  <!-- News Articles -->
  <div *ngFor="let a of articles; let i = index" style="display:inline-block; width: 15rem;">
    <div class="card text-center">
      <a href="{{ a.urlToImage }}"><img src="{{ a.urlToImage }}" alt="article image" width="100%" height="100%"></a>
      <!-- Card Header -->
      <h5 class="card-header">{{ a.title }}</h5>
      <!-- Card Body -->
      <div class="card-body">
        <h6 class="card-title">{{ a.description }}</h6>
        <p class="lead"><a href="{{ a.url }}" class="btn btn-secondary">Read More</a></p>
      </div>
      <!-- Card Footer -->
      <div class="card-footer text-muted">
        <p>
          Author: {{ a.author }}  |  Published: {{ a.publishedAt | date: mediumDate }}  |  Source: {{ a.source.id | uppercase }}
        </p>
      </div>
    </div>
  </div>

</div>