<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="github">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="weather">Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="directions">Directions</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <div class="btn-group" dropdown>
          <button id="services-button" dropdownToggle type="button" class="btn dropdown-toggle"
            aria-controls="dropdown-basic">
            Services <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="weather">Weather</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="directions">Directions</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item disabled" href="#">Login</a>
            </li>
          </ul>
        </div>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>